@charset "UTF-8";

body {
	background: radial-gradient(circle, #ffffff, #d0eaff);
}

h1 {
	text-align: left;
	font-weight: 900;
	font-size: 2rem;
	color: rgb(16, 137, 211);
}

h2 {
	text-align: left;
	font-weight: 600;
	font-size: 2rem;
	color: rgb(16, 137, 211);
}

.paragrafo {
	font-style: auto;
	font-size: 20px;
}

#logout-form {
	position: fixed;
	top: 20px;
	right: 20px;
}

.back {
	position: fixed;
	top: 32px;
	right: 100px;
}

back:hover {
	color: red;
}

.input {
	width: 40%;
	background: linear-gradient(to left, #ffffff, #e0f0ff);
	/* sfondo sfumato */
	border: none;
	padding: 15px 10px;
	border-radius: 20px;
	margin-top: 10px;
	font-size: 1rem;
	box-shadow: #cff0ff 0px 10px 10px -5px;
	border-inline: 2px solid transparent;
	box-sizing: border-box;
	transition: all 0.3s ease;
}

.input:focus {
	outline: none;
	border-inline: 2px solid #1089d3;
	background: linear-gradient(135deg, #e0f7ff, #d0eaff);
}

.descrizione {
	width: 120px;
	margin-right: 10px;
	font-size: 1.3rem;
	font-style: italic;
}

.form-row {
	display: flex;
	align-items: center;
	margin-bottom: 5px;
	margin-left: 5px;
	/*gap: 10px;*/
}

.password-section {
	margin-top: 40px;
	padding: 20px;
	background: #f5fbff;
	border-radius: 15px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	width: 60%;
}

.password-section h2 {
	margin-bottom: 10px;
}

.password-section input[type="text"] {
	width: 60%;
	margin-bottom: 10px;
}

.password-section input[type="checkbox"] {
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: bold;
}

.password-section input[type="submit"] {
	margin-top: 15px;
	padding: 10px 20px;
	background-color: #1089d3;
	color: white;
	border: none;
	border-radius: 10px;
	font-size: 1rem;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.password-section input[type="submit"]:hover {
	background-color: #0b6fa8;
}

.password-section .form-row label {
	font-size: 1.2rem;
	font-weight: bold;
	color: #333;
	cursor: pointer;
}