@charset "UTF-8";

html {
	width: 500px;
	margin: 30px auto;
}

body {
	background-color: #ADD8E6;
	color: #000080;
	
}

.c1 {
	font-weight: bold;
}

h1 {
	text-align: center;
	font-size: 50px;
}

form {
  width: 400px;
  margin: 50px auto;
  padding: 30px;
  background-color: #F8F9FA;
  border: 2px solid #4682B4; 
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  text-align: center;
}

input[type="submit"] {
  padding: 6px 12px;
  font-size: 18px;
  border-radius: 8px;
}

input[type="submit"]:hover {
  background-color: #7596ea;
}

a:visited {
	color: red;
}
a:hover {
  color: #2840af;
  text-decoration: underline;
}

  form input,
  form textarea,
  form select {
  	border-radius: 5px;
  }